.bottom-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #f4f4f7;
  box-shadow: 0 0 15px rgba(164, 163, 163, 0.2);
  border-radius: 8px;
  margin-top: 12px;

  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 17px;

    .top-section-left {
      display: flex;
      align-items: center;

      p {
        padding: 0;
        margin: 0;
        margin-right: 10px;
        font-weight: bold;
        font-size: 21px;
      }

      button {
        border: solid 2px #e6d8fa;
        border-radius: 10px;
        background-color: #f8f5fe;
        color: #8469cc;
        font-weight: bolder;
      }
    }

    .top-section-right {
      color: #a2a4a8;
      font-size: 13px;
      cursor: pointer;
    }
  }
}
