<div class="top-section-container">
  <div class="top-container">
    <h2>Welcome Back, Olivia</h2>
    <div class="actions">
      <div class="search-icon"><fa-icon [icon]="faSearch"></fa-icon></div>
      <button class="button">
        <fa-icon [icon]="faEdit"></fa-icon> Customize
      </button>
      <button class="button">
        <fa-icon [icon]="faFileExport"></fa-icon> Export
      </button>
    </div>
  </div>
  <div class="bottom-container">
    <app-bar-chart class="bar-chart-container"></app-bar-chart>
    <app-pie-charts class="pie-chart-container"></app-pie-charts>
  </div>
</div>
