$icon-background-color: #f3f3f3;
$icon-color: #5c6473;

.sidebar {
  flex: 0 0 10%;
  background-color: #ffffff;
  color: #858c9c;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;

  .icons-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-icon {
      background-color: #efefef;
      color: #593ead;
      margin-top: 5px;
      padding: 7px;
      border-radius: 8px;
    }

    .third-icon {
      font-size: 15px;
      padding: 7px;
      margin-top: 10px;
      background-color: $icon-background-color;
      border-radius: 8px;
      color: $icon-color;
    }

    .icon {
      font-size: 15px;
      padding: 7px;
      margin-top: 10px;

      &:hover {
        background-color: $icon-background-color;
        border-radius: 8px;
        color: $icon-color;
      }
    }
  }

  .icons-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      font-size: 15px;
      padding: 7px;
      margin-top: 10px;

      &:hover {
        background-color: $icon-background-color;
        border-radius: 8px;
        color: $icon-color;
      }
    }

    .face-icon {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      border-radius: 50%;
      overflow: hidden;
    }

    .face-icon img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
