<div class="sidebar">
  <div class="icons-top">
    <div class="top-icon"><fa-icon [icon]="faCircle"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faHome"></fa-icon></div>
    <div class="third-icon"><fa-icon [icon]="faChartBar"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faServicestack"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faStickyNote"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faChartPie"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faUser"></fa-icon></div>
  </div>
  <div class="icons-middle">
    <div class="icon"><fa-icon [icon]="faDotCircle"></fa-icon></div>
    <div class="icon"><fa-icon [icon]="faCog"></fa-icon></div>
    <div class="face-icon">
      <img
        src="https://as2.ftcdn.net/v2/jpg/02/23/50/73/1000_F_223507324_jKl7xbsaEdUjGr42WzQeSazKRighVDU4.jpg"
        alt="Icon"
      />
    </div>
  </div>
</div>
