<div class="bar-chart-container">
  <div class="top-content">
    <div class="top-content-left">
      <div class="icon"><fa-icon [icon]="faCube"></fa-icon></div>
      <div class="content">
        <h3>Vendor breakdown</h3>
        <p>Keep track of vendors and their security ratings.</p>
      </div>
    </div>
    <div class="top-content-right">
      <fa-icon [icon]="faEllipsisV"></fa-icon>
    </div>
  </div>
  <div class="bar-container">
    <div class="left-bar-container">
      <div class="y-axis-name">Security rating</div>
      <div class="y-axis-content">
        <p class="y-axis-element">100</p>
        <p class="y-axis-element">80</p>
        <p class="y-axis-element">60</p>
        <p class="y-axis-element">40</p>
        <p class="y-axis-element">20</p>
        <p class="y-axis-element">0</p>
      </div>
    </div>
    <div class="right-bar-container">
      <div class="bar-chart">
        <div class="bar january">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar february">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar march">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar april">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar may">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar june">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar july">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar august">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar september">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar october">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar november">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>

        <div class="bar december">
          <div class="bar-chart-bar">
            <div class="color top-color"></div>
            <div class="color mid-color"></div>
            <div class="color bottom-color"></div>
          </div>
        </div>
        <div class="lines1"></div>
        <div class="lines2"></div>
        <div class="lines3"></div>
      </div>
      <div class="x-axis-content">
        <p>Jan</p>
        <p>Feb</p>
        <p>Mar</p>
        <p>Apr</p>
        <p>May</p>
        <p>Jun</p>
        <p>Jul</p>
        <p>Aug</p>
        <p>Sep</p>
        <p>Oct</p>
        <p>Nov</p>
        <p>Dec</p>
      </div>
      <div class="x-axis-name">Month</div>
    </div>
  </div>
  <div class="bottom-bar-container">
    <button class="bottom-content-button">View full report</button>
  </div>
</div>
